/* Estilo para o DialogPane do Alert */
.dialog-pane {
    -fx-background-color: #235db2;  
    -fx-background-radius: 8px;     
    -fx-padding: 0;
    -fx-border-width: 0;            
}

/* Estilo para o título do Alert */
.dialog-pane .header-panel {
    -fx-background-color: transparent;  
    -fx-text-fill: white;               
    -fx-font-size: 16px;                
    -fx-font-weight: 600;               
    -fx-padding: 15px 20px 10px 20px;   
}

/* Estilo para o conteúdo do Alert */
.dialog-pane .content.label {
    -fx-font-size: 14px;                
    -fx-text-fill: white;               
    -fx-padding: 0 20px 20px 20px;     
    -fx-font-weight: 500;               
}

/* Estilo para os botões */
.button-bar .button {
    -fx-background-color: #235db2;      
    -fx-text-fill: white;               
    -fx-font-size: 14px;               
    -fx-font-weight: 600;               
    -fx-background-radius: 8px;        
    -fx-border-width: 0;                
    -fx-padding: 8px 16px;             
}

.button-bar .button:hover {
    -fx-background-color: #1d4b94;     
    -fx-cursor: hand;                   
}
